$navbar-height: 80px;
$main-color: #007bff;

.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  direction: rtl;

  .page {
    padding: 0 10px;
    padding-top: $navbar-height + 20px;
    padding-bottom: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #e4e3e3;
    min-height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.opened {
      opacity: 1;
    }

    &.closed {
      opacity: 0;
      pointer-events: none;
      height: 0;
      overflow: hidden;
    }
  }

  .navbar {
    direction: ltr;
    font-family: 'Dancing Script', cursive;
    position: fixed;
    left: -1px;
    right: -1px;
    top: -1px;
    height: $navbar-height;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.2);
    color: $main-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    background: white;
    padding: 0 15px;
    z-index: 1;

    .backdrop {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.9);
      animation: fade-in 0.3s ease-in-out forwards;
      margin-right: -1px;
    }

    .profile {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-image: url(/yuval.JPG);
      background-size: 180%;
      background-position: 50%;
      background-repeat: no-repeat;
      position: fixed;
      top: 10px;
      right: 10px;
      transition: all 0.3s ease-in-out;

        &.wide {
          width: 100%;
          height: 100%;
          border-radius: 0;
          margin-right: -10px;
      }

      &:active {
        opacity: 0.7;
      }
    }

    .close-button {
      background-size: 100%;
      width: 25px;
      height: 25px;
      font-size: 28px;
      opacity: 0.5;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .add-meal-button {
    padding: 4px;
    background: white;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.2);

    .background {
      height: 120px;
      background: white;
      position: relative;
      background: $main-color;

      &:after {
        content: '🍔 הוסף מנה 🍜';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        cursor: pointer;
      }

      &:active {
        &:after {
          background: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }

  .meal {
    margin: 20px auto;
    background: white;
    padding: 4px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    animation: fade-in 0.3s ease-in-out;

    .image {
      width: 100%;
      height: 300px;
      object-fit: cover;

      &.loading {
        animation: loading-image 1s ease-in-out infinite;
      }
    }

    .meal-ingredients {
      padding: 10px;
      display: none;

      &.visible {
        display: block;
      }
    }

    .details {
      padding: 10px;
      text-align: right;

      .name {
        font-size: 25px;
      }

      .prep-time {
        font-size: 18px;
        color: #777;
      }

      .tags-list {
        justify-content: flex-start;

        .tag {
          font-size: 15px;
          padding: 3px;
          margin: 5px;
          margin-right: 0;
        }
      }
    }

    .controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      color: $main-color;
      border-top: 1px solid #ccc;

      .button {
        width: 70px;
        margin: 0 10px;
        line-height: 50px;

        &:active {
          opacity: 0.5;
        }
      }
    }
  }
}

.new-meal-page {
  input {
    border: none;
    font-size: 18px;
    padding: 20px;
    background: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    width: 100%;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 10px;
  }

  .upload-image-input {
    display: none;
  }

  .upload-image-button {
    display: block;
  }

  .separator {
    font-size: 40px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before, &:after {
      content: '';
      width: 100px;
      height: 1px;
      background: #777;
      margin: 20px;
    }
  }

  .field {
    margin: 20px 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 4px;
    background: white;
  }

  .image-placeholder {
    height: 300px;
    border: 1px dashed #777;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background: rgba(255, 255, 255, 0.8);
    margin: 20px 0;
    background-size: cover;
    background-position: 50%;

    .icon {
      font-size: 40px;
    }
  }

  .secondary-button,
  .submit-button {
    margin: 10px 0;
    width: 100%;
    line-height: 40px;
    background: $main-color;
    color: white;
    font-size: 18px;

    &:active {
      background: #007bffb8
    }
  }


  .submit-button {
    line-height: 60px;
  }
}

.label {
  text-align: right;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.ingredients-container {
  .list {
    .ingredient-item {
      display: flex;
      height: 40px;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .name {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .v-icon {
        background-size: 100%;
        width: 22px;
        height: 22px;
        opacity: 0.5;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -5px;
      }

      .left-side {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .quantity {
          border-right: 1px solid #ccc;
          width: 50px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .remove-button {
          width: 22px;
          height: 100%;
          opacity: 0.5;
          margin: 0 10px;
          font-size: 22px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .empty-list {
    line-height: 70px;
  }
}

.loading-container {
  padding: 50px;

  &.small {
    padding: 30px;

    .stage {
      font-size: 40px;
    }

    .text {
      font-size: 15px;
    }
  }

  .stage {
    font-size: 70px;
    animation: icon-popup 1s ease-in-out infinite;
  }

  .text {
    font-size: 20px;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  .box {
    background: rgba(0, 0, 0, 0.6);
    width: 200px;
    color: white;
    border-radius: 20px;
  }
}

.remove-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  .message {
    background: rgba(0, 0, 0, 0.8);
    font-size: 25px;
    border-radius: 10px;
    width: 300px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content {
      margin-bottom: 40px;
      font-size: 20px;
    }

    .controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .button {
        width: 130px;
        font-size: 25px;
        line-height: 35px;
        border: 2px solid white;
        background: $main-color;

        &:active {
          opacity: 0.5;
        }
      }
    }
  }
}

.tag-manager-container {
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

.tags-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .tag {
    font-size: 20px;
    background: #005abb;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 2px solid transparent;

    &.selected {
      border: 2px solid #005abb;
      color: #005abb;
      background: white;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes icon-popup {
  0% {
    transform: scale(0) rotate(-90deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(0) rotate(90deg);
  }
}

@keyframes loading-image {
  0% {
    background: white;
  }
  50% {
    background: #ccc;
  }
  100% {
    background: white;
  }
}

// /* Dark mode */
// @media (prefers-color-scheme: dark) {
//   .navbar {
//     background: #333 !important;
//   }
// }
